{{!
Конфигурация игрового движка
!}}

var game_title = @"Space Adventure";
var version = 1.20;
var max_players = 4.0;

var resolution = table([
    width = 1920.0,
    height = 1080.0
]);

var difficulty_levels = list(@"easy", @"normal", @"hard");

var player = table([
    health = 100.0,
    speed = 5.0,
    inventory_size = 50.0
]);

var enemies = list(
    table([
        name = @"Alien Drone",
        health = 50.0,
        damage = 10.0
    ]),
    table([
        name = @"Space Pirate",
        health = 100.0,
        damage = 20.0
    ])
);

var game_info = @"$game_title$ версии $version$";
var players_info = @"Максимальное количество игроков: $max_players$";